<%- include("partials/header"); -%>
<h1>Home</h1>
<p> <%= startingContent %> </p>


<%  posts.forEach(function(post){ %>
<div class="blog">
  <form action="/delete" method="POST">
    <h1><%=post.title%> <button type="submit" name="delete" value="<%= post._id %>" class="hidden"><i
          class="far fa-trash-alt"></i></button> </h1>
  </form>

  <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post.id%>">Read More</a>
  </p>

</div>
  <% }) %>




<%- include("partials/footer"); -%>